---
title: William G Moore Law
---





<div class="container">
	<div class="row">
	   	<div class="twelve columns">
	     	<div class="three columns">
	     		<ul id="areas">
	     			<li><a id="criminal" class="active" href="#"><h4>Criminal Law</h4></a></li>
	     			<li><a id="civil" href="#"><h4>Civil Litigation</h4></a></li>
	     			<li><a id="personal" href="#"><h4>Personal Injury</h4></a></li>
	     			<li><a id="bankrupt" href="#"><h4>Bankruptcy</h4></a></li>
	     			<li><a id="business" href="#"><h4>Business Law</h4></a></li>
	     		</ul>
	     	</div>
	     	<div class="nine columns">
	     			<div class="criminallaw">	
			     		<h1>Criminal Law</h1>
			     		<p>Our office works to place your constitutional rights first and aggressively defend clients in various criminal cases ranging from juvenile cases, misdemeanors, and complex major felonies. Whether suppressing evidence, challenging unlawful searches and seizures, representing clients before administrative agencies, preliminary hearings, or fighting for you at trial, we possess the experience and dedication to represent, fully inform, counsel, and defend you to the full extent possible. Furthermore, our experienced attorneys are capable of defending a diverse range of criminal cases from the simplest criminal infractions to the most serious complex felonies, including but not limited to:</p>

			     		<ul>
				     		<li>Felony</li>
							<li>Drug Charges</li>
							<li>Weapons Charges</li>
							<li>Assault &amp; Battery</li>
							<li>Probation Violation</li>
							<li>Theft Crimes</li>
							<li>DUI / Drunk Driving</li>
						</ul>
			     	</div>
		     		<div class="civillit">	
			     		<h1>Civil Litigation</h1>
			     		<p>The Law Offices of William G. Moore specializes in the defense and prosecution of civil lawsuits. Our philosophy in representing these matters ensures consistent service that is always aggressive, timely and cost effective. In our dedication to serve you, we work quickly to gather evidence and develop your case, so we can more quickly get you the right result.</p>

		                <p>Most of our clients have never been involved in a lawsuit. To alleviate the unfamiliarity of the experience, which can be intimidating or overwhelming to some, we strive to educate, fully inform, and explain all aspects of a case to each client. We aim to make discovery, demurrers, motions for summary judgment, depositions and trial more familiar in the context of your case by describing the what and why in understandable terms.</p>
			     	</div>
			     	<div class="personalinjury">	
			     		<h1>Personal Injury</h1>
			     		<ul>
			     			<li>Serious Auto/Motorcycle/Pedestrian Accidents</li>
							<li>Construction Site Accidents</li>
							<li>Pool Accidents/Drowning</li>
							<li>Slip and Fall</li>
							<li>Dog Bites/Animal Attacks</li>
							<li>Burns</li>
							<li>Exposure to Toxic/Mold</li>
							<li>Dangerous Products</li>
			     		</ul>
			     	</div>
			     	<div class="bankruptcy">	
			     		<h1>Bankruptcy</h1>
			     		<ul>
			     			<li>Chapter 7</li>
							<li>Chapter 13</li>
			     		</ul>
			     	</div>
			     	<div class="businesslaw">	
			     		<h1>Business Law</h1>
			     		<ul>
			     			<li>Formation of Corporations</li>
							<li>Limited Liability Companies</li>
							<li>Business Representation</li>
							<li>Advisement</li>
							<li>Contract Disputes</li>
							<li>Partnership Disputes</li>
							<li>Unfair Competition and Business Practices</li>
							<li>Contracts, Agreements, Business Transactions</li>
							<li>Debt Collection and Judgment Enforcement</li>
			     		</ul>
			     	</div>
			</div>
	    </div>
	</div>
</div>




