@charset "utf-8";
@import "normalize";

body {
  background: #fff;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

#nav li {
  list-style: none;
  float: right;
  margin-top: 20px;

  a {
    margin-right: 20px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;

  }
}

.header {
  background-color: #0A4453;
  height: 65px;
}

#logo-txt {
  float: left;
  padding: 10px;
}

#home-center {
  background-image: url("/images/home-background.jpg");
  background-repeat: no-repeat;
  height: 375px;
  padding-top: 40px;
}

#home-copy {
  text-align: left;
  margin-top: 20px;
}

#footer {
  background-color: #0A4453;
  min-height: 400px;
  color: #fff;
  padding-top: 20px;

img {
  float: left;
}

ul {
  list-style: none;
  float: left;
  margin-top: 12px;
  font-size: 16px;
  line-height: 15px;
  text-align: left;
}
}