<div id="footer">
	<div class="container">
	     <div class="row">
	     	<div class="ten columns">
	     		<img id="wm-logo-footer" width="75px" src="/images/william-moore-mark.png" alt="william g moore law logo">
	     		<ul id="contact-info">
		     		<li>Tel:  *1 310 295-2013</li>
					<li>Fax: *1 310 295-1997</li>
				</ul>
	     	</div>
	     	
	     	<div id="social" class="two columns">
	     		<a href="http://www.linkedin.com/pub/william-moore/44/6a1/2b4" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> <a href="http://www.facebook.com/pages/Law-Offices-of-William-G-Moore/242809599119689" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
	     	</div>
		</div>
	</div>
</div>
  