<div class="header">
	<div class="container">
	
		<div class="row">
			<div class="four columns">
				<a id="logo-txt" href="/"><img height="40px" src="images/williammoore-logo-text.png" alt="william g moore law"></a>
			</div>
			<div class="eight columns">
					<ul id="nav">
						<li class="active"><a href="/" alt="home">Home</a></li>
						<li><a href="about" alt="about">About</a></li>
						<li><a href="areas-of-practice" alt="areas of practice">Areas of Practice</a></li>
						<li><a href="contact" alt="contact">Contact</a></li>
					</ul>
			</div>
	     </div>
	</div>
</div>