<div class="header">
	<div class="container">

		<div class="row">
			<div class="twelve columns">
				<div class="four columns">
					<a id="logo-txt" href="/"><img height="40px" src="/images/williammoore-logo-text.png" alt="william g moore law"></a>
				</div>
				<div class="eight columns">
						<ul id="nav">
							<li class="active"><a href="/" alt="home">HOME</a></li>
							<li><a href="/about" alt="about">ABOUT</a></li>
							<li><a href="/areasofpractice" alt="areas of practice">AREAS OF PRACTICE</a></li>
							<li><a href="mailto: Billmooreatlaw@yahoo.com" alt="contact">CONTACT</a></li>
						</ul>
				</div>
			</div>
	    </div>
	</div>
</div>
