---
title: William G Moore Law
---





<div class="container">
	<div class="row">

	     	<div class="four columns">
	     		<img id="william-moore" width="80%" src="/images/williammoore.jpg">
	     	</div>
	     	<div class="eight columns">
	     		<h1>About William G. Moore</h1>
	     		<p>Mr. William G. Moore leads a distinguished and seasoned career of over Thirty-three years
	     			as an experienced litigator practicing law with honesty and integrity and representing clients who are as diverse as his legal background.</p>
				<p>Mr. Moore's legal experience spans from Criminal Law and Civil Litigation including Personal Injury and Civil Matters, Medical Mal-Practice, General Insurance Defense, Business formation, advisement and litigation; and transactional aspects of civil practice for international business, real estate, contracts and corporate functions. He also possesses vast experience representing clients in both civil prosecutions and civil defense.</p>
				<p>During the mid 1980s and 1990s, Mr. Moore served on the Insurance Defense Panels of the biggest insurance companies such as the Southern California Physicians Insurance Exchange, Navigators Insurance Company in New York, Gainsco, Inc. in Texas, Insurance Corporation of British Colombia in Vancouver, Canada; and Lloyds of London England. Additionally, Mr. Moore has fought for constitutional rights and defended individuals in various criminal cases throughout his career as a criminal trial attorney ranging from juvenile cases, misdemeanors, and complex major felonies. For example, he has aggressively defended against Driving Under the Influence, Vehicular Manslaughter, Possession and Sale of Illegal Drugs, Child Molestation charges against a Catholic Priest in Los Angeles, and various other crimes.</p>
				<p>Mr. Moore's broad experience in these matters makes him very successful at handling them and quickly identifying important issues to prepare and present an effective case. He is attentive to insuring that the client is well informed throughout every phase of the case, which has made him one of the top attorney's in his field during the past quarter century.
				Mr. Moore received a J.D. (1983), Southwestern University School of Law, Los Angeles, California; M.A. in Psychology (1975), United States International University, San Diego, California; B.A. in Social Science (1972), University of California at Irvine, Irvine California. Member: State Bar of California, American Bar Association.
				Admitted to practice before the U.S. District Court, Central District of California.
				</p>
	     	</div>

	</div>
</div>
