---
title: William G Moore Law
---
<div class="header">
	<div class="container">
	
		<div class="row">
			<div class="four columns">
				<a id="logo-txt" href="/"><img height="40px" src="images/williammoore-logo-text.png" alt="william g moore law"></a>
			</div>
			<div class="eight columns">
					<ul id="nav">
						<li class="active"><a href="/" alt="home">Home</a></li>
						<li><a href="about" alt="about">About</a></li>
						<li><a href="areas-of-practice" alt="areas of practice">Areas of Practice</a></li>
						<li><a href="contact" alt="contact">Contact</a></li>
					</ul>
			</div>
	     </div>
	</div>
</div>

<div id="home-center">
	<div class="container">
	     <div class="row">
	     	<div class="twelve columns">
	     		<img width="300px" src="/images/williammoore-logo.png" alt="william g moore logo">
	     	</div>
	     </div>
	</div>
</div>

<div id="home-copy">
	<div class="container">
	     <div class="row">
	     	<div class="eight columns">
	     		<h3>With over 28 years of legal experience, we continue to provide a high quality experience</h3>
	     	</div>
	     	<div class="four columns">
	     		Contact us
	     	</div>
	     </div>
	</div>
</div>


<div id="footer">
	<div class="container">
	     <div class="row">
	     	<div class="two columns">
	     		<img width="50%" src="/images/william-moore-mark.png" alt="william g moore law logo">
	     	</div>
	     	<div class="eight columns">

	     		<ul>
		     		<li>Tel:  *1 310 295-2013</li>
					<li>Fax: *1 310 295-1997</li>
				</ul>
	     	</div>
	     	<div class="two columns">
	     		fb twitter
	     	</div>
	     </div>
	</div>
</div>
  
