---
title: William G Moore Law
---

<div class="container">
	<div class="row">
		<div class="twelve column">
			<div id="header">
				<%= image_tag "middleman-logo.svg" %>
				<ul id="nav">
					<li class="active"><a href="" alt="home">Home</a></li>
					<li><a href="" alt="about">About</a></li>
					<li><a href="" alt="areas of practice">Areas of Practice</a></li>
					<li><a href="" alt="contact">Contact</a></li>
				</ul>
			</div>
    <%= image_tag "middleman-logo.svg" %>
     	</div>
     </div>


</div>
  
